* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: nunito;
  src: url("./assets/fonts/Nunito-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: nunito;
  src: url("./assets/fonts/Nunito-Bold.ttf");
  font-weight: 800;
}
body,
html {
  font-family: monserrat;
  color: #111;
}

h1 {
  font-size: 56px;
  color: #1a4363;
  font-family: nunito;
}

h6 {
  font-weight: 500;
  font-size: 17px;
}

ul,
li,
ol {
  list-style: none;
}

.sub_heading {
  color: #5ce1e6;
  font-size: 20px;
  font-weight: 500;
}

a {
  color: #111;
  text-decoration: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn {
  color: #fff;
  border-radius: 30px;
  padding: 14px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s linear;
}

.btn-primary {
  background-color: #549fda;
}

.btn-secondary {
  background-color: #4ecb71;
}

.btn:hover {
  scale: 1.05;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.justify-end {
  justify-content: end;
}

.w-50 {
  width: 50%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

header .language {
  cursor: pointer;
}
header .hamburg {
  display: none;
}
header .cross {
  display: none;
}
@media screen and (max-width: 768px) {
  header .hamburg {
    display: block;
  }
  header .nav {
    display: none;
    z-index: 11;
  }
  header .logo {
    width: 120px;
  }
  header .container {
    padding: 0 1rem;
  }
  header .cross {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
  }
  header .nav.open {
    display: block;
    position: absolute;
    background: #5ce1e6;
    right: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    gap: 1.5rem;
  }
  header .nav.open .btn {
    background-color: #fff;
    color: #1a4363;
  }
  header .nav.open nav {
    flex-direction: column;
    padding-top: 5rem;
    gap: 1.2rem;
  }
  header .language {
    margin-top: 1rem;
  }
}

main {
  position: relative;
}

main .hero {
  height: 700px;
  align-items: center;
}
main .hero .left-col {
  width: 50%;
}
main .hero .left-col h1 {
  margin-bottom: 3rem;
  margin-top: -10rem;
}
main .hero .right-col {
  position: relative;
  width: 50%;
}
main .hero .right-col .benifit {
  background: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
  border-radius: 30px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}
main .hero .right-col .benifit h6 {
  font-size: 18px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(84, 160, 218, 0.34);
}
main .hero .right-col .benifit ul {
  margin-top: 1rem;
}
main .hero .right-col .benifit ul li {
  padding: 7px 0;
}
main .hero .right-col .benifit ul span {
  margin-left: 4px;
}
span.dashed {
  position: relative;
  border: 1px dashed #5ce1e6;
  padding: 0 1rem;
}
span.dashed span {
  padding: 5px;
  position: absolute;
  border: 1px solid #5ce1e6;
  background: #fff;
}
span.dashed img {
  position: absolute;
  right: -3rem;
  bottom: 0rem;
}
span.dashed span.cube-1 {
  right: -6px;
  top: -6px;
}
span.dashed span.cube-2 {
  left: -6px;
  top: -6px;
}
span.dashed span.cube-4 {
  bottom: -6px;
  right: -6px;
}
span.dashed span.cube-3 {
  bottom: -6px;
  left: -6px;
}

.whatsapp-btn {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: rgba(33, 32, 32, 0.5921568627);
  align-items: center;
}
.whatsapp-btn img {
  z-index: 10;
}
.whatsapp-btn .status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: -3.5rem;
  margin-top: -0.6rem;
  background: #E6EAE7;
  padding: 1.3rem 1.3rem;
  border-radius: 50px;
  padding-right: 4rem;
  display: none;
}
.whatsapp-btn .status .online-dot {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #7CEF46;
}

.whatsapp-btn:hover .status {
  display: flex;
}

.rating {
  margin-top: -8rem;
  width: 50%;
}
.rating h1 {
  color: #ffcd1c;
  margin-bottom: 0;
}
.rating .review {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  border-radius: 10px;
}
.rating .review .bio {
  gap: 8px;
}
.rating .review p {
  font-size: 12px;
  margin-top: 10px;
}

.partner-wrapper {
  margin-top: 7rem;
}
.partner-wrapper h6 {
  text-align: center;
  margin-bottom: 1rem;
}
.partner-wrapper .slider-wrapper {
  position: relative;
}
.partner-wrapper .slider-wrapper .partners div {
  display: flex;
  justify-content: center;
}
.partner-wrapper .slider-wrapper .partners div img {
  width: 130px !important;
}
.partner-wrapper .slider-wrapper button {
  cursor: pointer;
}
.partner-wrapper .slider-wrapper .custom-prev {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(-50%);
}
.partner-wrapper .slider-wrapper .custom-prev img {
  width: 14px;
}
.partner-wrapper .slider-wrapper .custom-next {
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
}
.partner-wrapper .slider-wrapper .custom-next img {
  width: 14px;
}

.about-wrapper {
  gap: 5rem;
  margin-top: 7rem;
}
.about-wrapper > div {
  width: 50%;
}
.about-wrapper .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper .left .about-shape {
  width: 100%;
  position: absolute;
  top: -3rem;
  max-width: 490px;
  width: 100%;
  left: 0;
}
.about-wrapper .left .content {
  background: #fff;
  position: relative;
  max-width: 394px;
  width: 100%;
  z-index: 11;
  border-radius: 30px;
  padding: 2.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
}
.about-wrapper .left .content h6 {
  font-size: 12px;
  color: #1a4363;
  font-weight: 700;
  margin-bottom: 10px;
}
.about-wrapper .left .content p {
  font-size: 10px;
  margin-bottom: 1rem;
  line-height: 15px;
}
.about-wrapper .left .content p span {
  background-color: rgba(92, 225, 230, 0.6);
}
.about-wrapper .left .content li {
  font-size: 10px;
  margin-bottom: 0.2rem;
  line-height: 15px;
}
.about-wrapper .right h6 {
  color: #5ce1e6;
}
.about-wrapper .right h1 {
  margin-top: 1rem;
}
.about-wrapper .right p {
  line-height: 26px;
  margin-top: 10px;
}
.about-wrapper .right .button {
  margin-top: 2.4rem;
}

.quality-wrapper {
  background-color: #549fda;
  padding: 5rem 0;
  color: #fff;
  margin-top: 8rem;
}
.quality-wrapper h1 {
  color: #fff;
}
.quality-wrapper p {
  margin-top: 2rem;
}

.register-wrapper {
  margin: 7rem auto;
}
.register-wrapper h6 {
  color: #5ce1e6;
  margin-bottom: 2rem;
  text-align: center;
}
.register-wrapper h1 {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.register-wrapper p {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  line-height: 27px;
  margin-bottom: 3rem;
}
.register-wrapper .button {
  display: flex;
  justify-content: center;
}
.register-wrapper .button a {
  position: relative;
}
.register-wrapper .button a .cursor {
  position: absolute;
  right: -2.5rem;
}

footer {
  background: #1a4363;
  padding-top: 5rem;
  color: #fff;
}
footer .f-logo {
  margin-top: -3rem;
}
footer .info {
  width: 50%;
}
footer .info p {
  margin-top: -3rem;
}
footer .info .social {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 2rem;
}
footer .info .social li {
  background-color: #549fda;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7px;
  border-radius: 20px;
}
footer .explore {
  width: 50%;
}
footer .f-nav {
  margin-top: 1.5rem;
}
footer li {
  padding: 7px 0;
}
footer li a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .copyright {
  margin-top: 5rem;
  padding: 18px 0;
  display: flex;
  border-top: 1px solid #fff;
  justify-content: space-between;
}
footer .copyright a {
  color: #fff;
  padding-left: 1rem;
}
footer .copyright a :hover {
  color: #5ce1e6;
}

.lang-btn {
  background-color: #5ce1e6;
  padding: 3px;
  border-radius: 20px;
  margin-top: 1.5rem;
}
.lang-btn button {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
}
.lang-btn button .dot {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  background-color: #e6eae7;
}

main .about-wrapper {
  margin-top: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main .about-wrapper .left .about-shape {
  right: 0;
  left: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 32px;
  }
  main.hero {
    flex-direction: column !important;
    height: auto;
  }
  main.hero .right-col {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main.hero .right-col .main-shape {
    width: 100%;
  }
  main.hero .right-col .benifit {
    padding: 1.2rem;
  }
  main.hero .right-col .benifit h6 {
    font-size: 15px;
    padding-bottom: 0.8rem;
  }
  main.hero .right-col .benifit li {
    font-size: 13px;
    padding: 3px 0 !important;
  }
  main.hero .left-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  main.hero .left-col h1 {
    max-width: 340px;
    text-align: center;
    margin-top: 0;
  }
  main.hero .left-col h1 span {
    display: block;
  }
  main.hero .left-col h1 span.dashed {
    padding: 5px;
    display: inline;
  }
  main.hero .left-col h1 span.dashed img {
    right: -1.5rem;
    width: 17.5px;
  }
  .rating {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    max-width: auto;
  }
  .rating .bio {
    flex-direction: column;
    align-items: start;
  }
  .rating .bio .top {
    align-items: flex-start;
  }
  .rating .stats {
    margin-bottom: 1rem;
  }
  .rating h1 {
    justify-content: center;
  }
  .about-wrapper {
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
  .about-wrapper > div {
    width: 100%;
  }
  .about-wrapper .right {
    text-align: center;
  }
  .about-wrapper .right p {
    font-size: 15px;
  }
  .about-wrapper .left .content {
    width: 100%;
    right: 0;
    position: static;
  }
  .quality-wrapper > div {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  .quality-wrapper .w-50 {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }
  .footer-wrapper .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .footer-wrapper .w-50 {
    width: 100%;
  }
  .contact {
    width: 50%;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
  }
  .copyright p {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */