* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: monserrat;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: nunito;
  src: url("./assets/fonts/Nunito-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: nunito;
  src: url("./assets/fonts/Nunito-Bold.ttf");
  font-weight: 800;
}
body,
html {
  font-family: monserrat;
  color: #111;
  scroll-behavior: smooth;
}

h1 {
  font-size: 56px;
  color: #1a4363;
  font-family: nunito;
}

h6 {
  font-weight: 500;
  font-size: 17px;
}

p {
  line-height: 26px;
}

ul,
li,
ol {
  list-style: none;
}

.sub_heading {
  color: #5ce1e6;
  font-size: 20px;
  font-weight: 500;
}

a {
  color: #111;
  text-decoration: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn {
  color: #fff;
  border-radius: 30px;
  padding: 14px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s linear;
}

.btn-primary {
  background-color: #549fda;
}

.btn-secondary {
  background-color: #4ecb71;
}

.btn:hover {
  scale: 1.05;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.justify-end {
  justify-content: end;
}

.w-50 {
  width: 50%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.reverse-flex-row {
  flex-direction: row-reverse;
}

.lang-btn button {
  cursor: pointer;
}

header .language {
  cursor: pointer;
  position: relative;
}
header .language .l-list {
  background-color: #549fda;
  padding: 1rem;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
  right: 0;
  margin-top: 10px;
  z-index: 10;
  border-radius: 10px;
}
header .language .l-list:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #549fda;
  top: -5px;
  right: 14px;
  transform: rotate(45deg);
}
header .language .l-list li {
  gap: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .language .l-list li img {
  width: 27px;
  height: 27px;
}
header .hamburg {
  display: none;
}
header .cross {
  display: none;
}
@media screen and (max-width: 768px) {
  header .hamburg {
    display: block;
  }
  header .nav {
    display: none;
    z-index: 11;
  }
  header .logo {
    width: 120px;
  }
  header .container {
    padding: 0 1rem;
  }
  header .cross {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
  }
  header .nav.open {
    display: block;
    position: absolute;
    background: #5ce1e6;
    right: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    gap: 1.5rem;
  }
  header .nav.open .btn {
    background-color: #fff;
    color: #1a4363;
  }
  header .nav.open nav {
    flex-direction: column;
    padding-top: 5rem;
    gap: 1.2rem;
  }
  header .language {
    margin-top: 1rem;
  }
}

main {
  position: relative;
}

main .hero {
  height: 700px;
  align-items: center;
}
main .hero .left-col {
  width: 50%;
}
main .hero .left-col h1 {
  margin-bottom: 3rem;
  margin-top: -10rem;
}
main .hero .right-col {
  position: relative;
  width: 50%;
}
main .hero .right-col .benifit {
  background: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
  border-radius: 30px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}
main .hero .right-col .benifit h6 {
  font-size: 18px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(84, 160, 218, 0.34);
}
main .hero .right-col .benifit ul {
  margin-top: 1rem;
}
main .hero .right-col .benifit ul li {
  padding: 7px 0;
}
main .hero .right-col .benifit ul span {
  margin-left: 4px;
}
span.dashed {
  position: relative;
  border: 1px dashed #5ce1e6;
  padding: 0 1rem;
}
span.dashed span {
  padding: 5px;
  position: absolute;
  border: 1px solid #5ce1e6;
  background: #fff;
}
span.dashed img {
  position: absolute;
  right: -3rem;
  bottom: 0rem;
}
span.dashed span.cube-1 {
  right: -6px;
  top: -6px;
}
span.dashed span.cube-2 {
  left: -6px;
  top: -6px;
}
span.dashed span.cube-4 {
  bottom: -6px;
  right: -6px;
}
span.dashed span.cube-3 {
  bottom: -6px;
  left: -6px;
}

.whatsapp-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 11;
  color: rgba(33, 32, 32, 0.5921568627);
  align-items: center;
}
.whatsapp-btn img {
  z-index: 10;
}
.whatsapp-btn .status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: -3.5rem;
  margin-top: -0.6rem;
  background: #e6eae7;
  padding: 1.3rem 1.3rem;
  border-radius: 50px;
  padding-right: 4rem;
  display: none;
}
.whatsapp-btn .status .online-dot {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #7cef46;
}

.whatsapp-btn:hover .status {
  display: flex;
}

.rating {
  margin-top: -8rem;
  width: 50%;
}
.rating h1 {
  color: #ffcd1c;
  margin-bottom: 0;
}

.review {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  border-radius: 10px;
}
.review .bio {
  gap: 8px;
}
.review p {
  font-size: 12px;
  margin-top: 10px;
}
.review .star {
  margin-top: 10px;
}
.review .status {
  color: #549fda;
  margin-top: 2px;
}

.review-wrapper {
  padding: 4px 10px;
}

.slick-list {
  padding: 0 20% 0 0 !important;
}

.partner-wrapper {
  margin-top: 7rem;
}
.partner-wrapper h6 {
  text-align: center;
  margin-bottom: 1rem;
}
.partner-wrapper .slider-wrapper {
  position: relative;
}
.partner-wrapper .slider-wrapper .partners div {
  display: flex;
  justify-content: center;
}
.partner-wrapper .slider-wrapper .partners div img {
  width: 130px !important;
}
.partner-wrapper .slider-wrapper button {
  cursor: pointer;
}
.partner-wrapper .slider-wrapper .custom-prev {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(-50%);
}
.partner-wrapper .slider-wrapper .custom-prev img {
  width: 14px;
}
.partner-wrapper .slider-wrapper .custom-next {
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
}
.partner-wrapper .slider-wrapper .custom-next img {
  width: 14px;
}

.active {
  display: flex !important; /* Show the language list when this class is applied */
}

.about-wrapper {
  gap: 5rem;
  margin-top: 7rem;
}
.about-wrapper > div {
  width: 50%;
}
.about-wrapper .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper .left .about-shape {
  width: 100%;
  position: absolute;
  top: -3rem;
  max-width: 490px;
  width: 100%;
  left: 0;
}
.about-wrapper .left .content {
  background: #fff;
  position: relative;
  max-width: 394px;
  width: 100%;
  z-index: 11;
  border-radius: 30px;
  padding: 2.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
}
.about-wrapper .left .content h6 {
  font-size: 12px;
  color: #1a4363;
  font-weight: 700;
  margin-bottom: 10px;
}
.about-wrapper .left .content p {
  font-size: 10px;
  margin-bottom: 1rem;
  line-height: 15px;
}
.about-wrapper .left .content p span {
  background-color: rgba(92, 225, 230, 0.6);
}
.about-wrapper .left .content li {
  font-size: 10px;
  margin-bottom: 0.2rem;
  line-height: 15px;
}
.about-wrapper .right h6 {
  color: #5ce1e6;
}
.about-wrapper .right h1 {
  margin-top: 1rem;
}
.about-wrapper .right p {
  line-height: 26px;
  margin-top: 10px;
}
.about-wrapper .right .button {
  margin-top: 2.4rem;
}

.quality-wrapper {
  background-color: #549fda;
  padding: 5rem 0;
  color: #fff;
  margin-top: 8rem;
}
.quality-wrapper h1 {
  color: #fff;
}
.quality-wrapper p {
  margin-top: 2rem;
}

.register-wrapper {
  margin: 7rem auto;
}
.register-wrapper h6 {
  color: #5ce1e6;
  margin-bottom: 2rem;
  text-align: center;
}
.register-wrapper h1 {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.register-wrapper p {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  line-height: 27px;
  margin-bottom: 3rem;
}
.register-wrapper .button {
  display: flex;
  justify-content: center;
}
.register-wrapper .button a {
  position: relative;
}
.register-wrapper .button a .cursor {
  position: absolute;
  right: -2.5rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 2rem;
}
.social li {
  background-color: #549fda;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7px;
  border-radius: 20px;
}

.f-nav {
  margin-top: 1.5rem;
}
.f-nav li {
  padding: 7px 0;
}
.f-nav li a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  background: #1a4363;
  padding-top: 5rem;
  color: #fff;
}
footer .f-logo {
  margin-top: -3rem;
}
footer .info {
  width: 50%;
}
footer .info p {
  margin-top: -3rem;
}
footer .explore {
  width: 50%;
}
footer .copyright {
  margin-top: 5rem;
  padding: 18px 0;
  display: flex;
  border-top: 1px solid #fff;
  justify-content: space-between;
}
footer .copyright a {
  color: #fff;
  padding-left: 1rem;
}
footer .copyright a :hover {
  color: #5ce1e6;
}

.lang-btn {
  background-color: #5ce1e6;
  padding: 3px;
  border-radius: 20px;
  margin-top: 1.5rem;
}
.lang-btn button {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
}
.lang-btn button .dot {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  background-color: #e6eae7;
}

main .about-wrapper {
  margin-top: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main .about-wrapper .left .about-shape {
  right: 0;
  left: auto;
}

.benefits-wrapper {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.benefits-wrapper h1 {
  text-align: center;
}
.benefits-wrapper p {
  text-align: center;
  margin-top: 2rem;
}
.benefits-wrapper .benefits {
  display: grid;
  margin-top: 6rem;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
}
.benefits-wrapper .benefits > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-wrapper {
  display: flex;
  margin-bottom: 10rem;
  align-items: center;
  gap: 2rem;
}
.client-wrapper .left {
  width: 40%;
}
.client-wrapper .left p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.client-wrapper .right {
  width: 60%;
}

.cc p {
  line-height: 26px;
  margin-bottom: 3rem;
}
.cc .cc-shape {
  position: static;
}
.cc h1 {
  margin-top: 0 !important;
}
.cc .right-col img {
  width: 100%;
}

.choose-wrapper {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.choose-wrapper h1 {
  text-align: center;
  max-width: 760px;
  width: 100%;
  margin: auto;
}
.choose-wrapper p {
  text-align: center;
  max-width: 922px;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.choose-wrapper .benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 2rem;
  margin-top: 5rem;
}
.choose-wrapper .benefits > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper .f-nav a {
  color: #111 !important;
}
.contact-wrapper .social li {
  padding-top: 2px;
}
.contact-wrapper .contactform-wrapper {
  max-width: 417px !important;
  width: 100% !important;
}
.contact-wrapper .contactform-wrapper .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-wrapper .contactform-wrapper h6 {
  font-size: 20px !important;
  padding-bottom: 10px;
}
.contact-wrapper .contactform-wrapper form input {
  width: 100%;
  padding: 12px 0;
  border: none;
  margin-bottom: 10px;
  color: rgba(64, 121, 168, 0.8392156863) !important;
  font-size: 15px;
  font-family: monserrat;
  border-bottom: 1px solid rgba(84, 160, 218, 0.3333333333) !important;
}
.contact-wrapper .contactform-wrapper form input :focus {
  outline: none Im !important;
  border: none !important;
}
.contact-wrapper .contactform-wrapper form textarea {
  height: 100px;
  width: 100%;
  padding: 12px 0;
  border: none;
  margin-bottom: 10px;
  font-family: monserrat;
  font-size: 15px;
  color: rgba(64, 121, 168, 0.8392156863) !important;
  border-bottom: 1px solid rgba(84, 160, 218, 0.3333333333) !important;
}
.contact-wrapper .contactform-wrapper form .input-button {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: monserrat;
  height: 44px;
  margin-top: 1rem;
}

::-moz-placeholder {
  color: rgba(64, 121, 168, 0.8392156863) !important;
}

::placeholder {
  color: rgba(64, 121, 168, 0.8392156863) !important;
}

.faq {
  background-color: #bcc0c2;
  padding: 6rem 0;
}
.faq .faq-head {
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.faq .faq-head h6 {
  color: #5ce1e6;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.faq .faq-container {
  max-width: 817px;
  margin: 0 auto;
  margin-top: 5rem;
}
.faq .faq-container .faq-item {
  margin-bottom: 20px;
  background-color: white;
  padding: 1.2rem;
  border-radius: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
}
.faq .faq-container .faq-item .question {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  font-size: 20px;
  font-family: monserrat;
  justify-content: space-between;
  align-items: center;
}
.faq .faq-container .faq-item .question img {
  width: 50px;
}
.faq .faq-container .faq-item .question img.active {
  display: hidden;
}
.faq .faq-container .faq-item .answer {
  display: none;
  margin-top: 1rem;
}

@media (max-width: 460px) {
  .choose-wrapper {
    margin: 6rem 0;
  }
  .benefits {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (min-width: 461px) and (max-width: 768px) {
  .choose-wrapper {
    margin: 6rem 0;
  }
  .benefits {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  .steps-button div {
    float: none !important;
  }
  .tab .tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
  }
  .tab .tab-wrapper .left, .tab .tab-wrapper .right {
    width: 100% !important;
  }
  .tab .tab-wrapper .right {
    margin-top: 2rem !important;
  }
  .currency_summary {
    grid-template-columns: 1fr !important;
    text-align: left;
  }
  .currency_summary .select {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 32px;
  }
  main.hero {
    flex-direction: column !important;
    height: auto;
  }
  main.hero .right-col {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main.hero .right-col .main-shape {
    width: 100%;
  }
  main.hero .right-col .benifit {
    padding: 1.2rem;
  }
  main.hero .right-col .benifit h6 {
    font-size: 15px;
    padding-bottom: 0.8rem;
  }
  main.hero .right-col .benifit li {
    font-size: 13px;
    padding: 3px 0 !important;
  }
  main.hero .left-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  main.hero .left-col h1 {
    max-width: 340px;
    text-align: center;
    margin-top: 0;
  }
  main.hero .left-col h1 span {
    display: block;
  }
  main.hero .left-col h1 span.dashed {
    padding: 5px;
    display: inline;
  }
  main.hero .left-col h1 span.dashed img {
    right: -1.5rem;
    width: 17.5px;
  }
  .rating {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    max-width: auto;
  }
  .rating .bio {
    flex-direction: column;
    align-items: start;
  }
  .rating .bio .top {
    align-items: flex-start;
  }
  .rating .stats {
    margin-bottom: 1rem;
  }
  .rating h1 {
    justify-content: center;
  }
  .about-wrapper {
    flex-direction: column;
    margin-top: 4rem;
  }
  .about-wrapper > div {
    width: 100%;
  }
  .about-wrapper .right {
    text-align: center;
  }
  .about-wrapper .right p {
    font-size: 15px;
  }
  .about-wrapper .left .content {
    width: 100%;
    right: 0;
    position: static;
  }
  .quality-wrapper > div {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  .quality-wrapper .w-50 {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }
  .footer-wrapper .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .footer-wrapper .w-50 {
    width: 100%;
  }
  .contact {
    width: 50%;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
  }
  .copyright p {
    margin-bottom: 10px;
  }
  .benefits-wrapper {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .benefits-wrapper .benefits {
    grid-template-columns: repeat(2, 1fr);
  }
  .client-wrapper {
    flex-direction: column;
    margin-top: 2rem;
  }
  .client-wrapper .right {
    width: 100%;
  }
  .client-wrapper .left {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .cc {
    flex-direction: column;
    height: auto !important;
  }
  .cc .left-col {
    width: 100% !important;
    text-align: center;
  }
  .cc .right-col {
    width: 100% !important;
  }
  .cc .right-col img {
    width: 100%;
  }
  .whatsapp-btn {
    right: 1rem;
    bottom: 1rem;
  }
  .about-wrapper.contact-wrapper .right ul.f-nav {
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .about-wrapper.contact-wrapper .right .social {
    justify-content: center !important;
  }
}
#regForm h2 {
  font-size: 20px;
  color: #1a4363;
  font-weight: 700;
  margin-bottom: 2rem;
}
#regForm .select {
  padding: 15px 25px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}
#regForm .select span {
  color: #111;
  opacity: 70%;
}
#regForm .steps-button {
  margin-top: 3rem;
}
#regForm .steps-button .btn-secondary {
  font-size: 18px !important;
}
#regForm .steps-button .back {
  background-color: #F0F0F0;
  color: rgba(17, 17, 17, 0.3333333333);
  margin-right: 0.6rem;
}
#regForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}
#regForm input.invalid {
  background-color: #ffdddd;
}
#regForm .tab {
  display: none;
}
#regForm .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#regForm .step.active {
  opacity: 1;
}
#regForm .step.finish {
  background-color: #04aa6d;
}

.tab {
  position: relative;
}
.tab .tab-wrapper {
  display: flex;
  gap: 8rem;
}
.tab .tab-wrapper .left, .tab .tab-wrapper .right {
  width: 50%;
}
.tab .tab-wrapper .right {
  margin-top: 3.5rem;
  position: relative;
}
.tab .select_options {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  display: none;
  position: absolute;
  margin-top: 10px;
  z-index: 10;
  width: 100%;
}
.tab .select_options li {
  padding: 15px 1.4rem;
  border-bottom: 1px solid rgba(43, 92, 130, 0.0549019608);
  cursor: pointer;
}
.tab .arrow_rotate {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.file-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 21px 25px;
  max-width: 90%;
  border-radius: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.file-upload input[type=file] {
  display: none !important;
}

.file-upload label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1px 1px;
  color: rgba(17, 17, 17, 0.7137254902);
}

.grand_total {
  padding: 10px;
  margin-bottom: 1.5rem;
  color: rgba(17, 17, 17, 0.5254901961);
}

.progress-container {
  position: relative;
  width: 100%;
}

progress {
  width: 100%;
  height: 12px; /* Adjust height as needed */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

/* For WebKit browsers */
progress::-webkit-progress-bar {
  background-color: #EDEDED;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background-color: rgba(92, 225, 230, 0.2235294118); /* Color of the progress value */
  border-radius: 20px;
}

/* For Mozilla Firefox */
progress::-moz-progress-bar {
  background-color: rgba(92, 225, 230, 0.2235294118); /* Color of the progress value */
  border-radius: 20px;
}

.percentage-label {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 6.5px; /* Adjust this value to vertically center the label */
  font-weight: bold;
  color: black;
  font-size: 10px;
}

.file_list {
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.file_list .list span {
  margin-top: -10px;
  font-size: 13px;
}
.file_list .checkbox {
  width: auto !important;
  margin-left: 1rem;
}

input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: transparent !important;
  background: #fff;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #5ce1e6;
  margin-right: 7px;
}

input[type=checkbox]:checked:before {
  background: #5ce1e6 !important;
}

.number {
  font-weight: 700;
  color: #1a4363;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.number p {
  white-space: nowrap;
}
.number .centered-input {
  text-align: center;
  background-color: white;
  border: none !important;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  max-width: 128px;
  outline: none;
}

.currency_summary {
  gap: 1.5rem;
}
.currency_summary .select .text {
  color: #111 !important;
  font-weight: 300;
}

table {
  background: #fff;
  width: 100%;
  margin-top: 2rem;
}
table td {
  font-size: 13px;
}
table tr {
  text-align: center;
}
table .t-body td {
  padding: 10px 0;
}
table .price {
  font-size: 15px;
  font-weight: 600;
}

.total_wrapper .total {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  padding: 0 14px;
}
.total_wrapper .total div {
  display: flex;
  justify-content: end;
  font-size: 15px;
  font-weight: 600;
}
.total_wrapper .total .price {
  font-size: 15px;
  font-weight: 600;
}

.text {
  padding: 15px 25px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}
.text .input-text {
  border: none !important;
  outline: none;
  font-weight: 200 !important;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.631372549) !important;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: rgba(0, 0, 0, 0.631372549) !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: 0a1 !important;
}

.wrap-check-48 input[type=checkbox] {
  display: none;
  visibility: hidden;
}

.wrap-check-48 .cbx {
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  cursor: pointer;
}

.wrap-check-48 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.wrap-check-48 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #5ce1e6;
  transition: all 0.2s ease;
}

.wrap-check-48 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.wrap-check-48 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #5ce1e6;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.wrap-check-48 .cbx span:last-child {
  padding-left: 8px;
}

.wrap-check-48 .cbx:hover span:first-child {
  border-color: #5ce1e6;
}

.wrap-check-48 {
  padding-left: 1rem !important;
}

.wrap-check-48 .inp-cbx:checked + .cbx span:first-child {
  background: #5ce1e6;
  border-color: #5ce1e6;
}

.wrap-check-48 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.idea {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  margin-right: -38px;
  margin-bottom: 10px;
  position: relative;
}

.info-detail {
  position: absolute;
  background-color: #549fda;
  width: 317px !important;
  display: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 13px;
  color: #fff;
  border-radius: 10px;
  z-index: 100;
  right: 1.5rem;
  bottom: 2.5rem;
}
.info-detail:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #549fda;
  bottom: -5px;
  right: 22px;
  transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */